# MacOS file
.DS_Store

# eclipse files
.cproject
.project
.settings

# VS code files
*.code-workspace
/.vscode

# Build
sim_qasm
test_wgt_storage
/build
*.so
*.a
*.dylib
CMakeFiles/
#*.cmake
*Makefile
CMakeCache.txt
qsylvan.pc
*.swp
